.caret {
  border: solid #fff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transition: all .3s;
  transform-origin: center;

  &--dark {
    border-color: #000;
  }

  &--down {
    transform: rotate(45deg);
  }

  &--up {
    transform: rotate(-135deg);
  }

  &--left {
    transform: rotate(135deg);
  }
}

.btn {
  &-not-round {
    border-radius: 0;
  }

  &-bittersweet {
    background: #FF7769;
    color: #fff;
    outline: none !important;
  }

  &-bittersweet-reverse {
    background: white;
    color: #FF7769;
    box-shadow: inset 0 0 0 2px #FF7769;
    outline: none !important;
  }

  &-transperant {
    background: transparent;
    border: none !important;
    outline: none !important;
    cursor: pointer;
  }
}

.my-form-group {
  padding: 0px 24px;
  margin-bottom: 19px;

  > .form-control {
    border: none;
    background: rgba(216, 216, 216, 0.1) !important;
    border-bottom: 2px solid #9B9B9B;
    border-radius: 0px;
    color: white;
    font-weight: 100;

    &:disabled {
      background: transparent !important;
      border: none !important;
      padding: 0px !important;
    }
  }

  > label {
    color: #9B9B9B;
    font-size: 16px
  }
}

.custom-table {
  $block: &;

  &--primary {
    #{$block}__thead {
      background: #0000C1;
      color: #fff;
    }
  }

  &--default {
    #{$block}__thead {
      background: #EDEDED;
      color: #000;
    }
  }

  &__thead {
    display: flex;
    padding: 20px 0;
  }

  &__row {
    border-bottom: 1px solid #E6E6E6;
    display: flex;
    overflow: hidden;
    width: 100%;

    &:hover {
      background: #f3f3f3;
    }

    &--center {
      align-items: center;
    }
  }

  &__col {
    flex-basis: 1px;
    flex-grow: 1;
    overflow: hidden;
    padding: 10px;

    &--3 {
      flex-grow: 3;
    }
  }
}