<div class="data-table">
  <div class="data-table-header">
    <span>{{specificData.nameTable}}</span>
    <span>{{specificData.dataOfDate}}</span>
  </div>
  <table class="table">
    <thead>
      <tr>
        <td>Graduation Year</td>
        <td>#Hired</td>
        <td>#Onboard</td>
        <td>Retention%</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of specificData.contentTable">
        <td>{{ data.graduationYear }}</td>
        <td>{{ data.hired }}</td>
        <td>{{ data.onboard }}</td>
        <td>{{ data.retention }}</td>
      </tr>
    </tbody>
  </table>
  <div class="data-table-footer">
    <app-primary-button class="data-table-btn" (click)="onclickJourney()" [textBtn]="'Journey'"></app-primary-button>
    <app-primary-button class="data-table-btn" (click)="onclickParticipants()" [textBtn]="'Participants'"></app-primary-button>
  </div>
</div>

