.data-table {
  &-header {
    background-color: #0000C1;
    display: flex;
    height: 70px;
    justify-content: space-between;
    padding: 17px 19px 16px 30px;

    span {
      color: #fff;
      &:first-child {
        font-size: 30px;
      }
      &:last-child {
        align-self: flex-end;
        font-size: 16px;
        margin-left: auto;
      }
    }
  }

  &-footer {
    background-color: #ececee;
    display: flex;
    height: 80px;
    padding: 20px 6px;

    .data-table-btn {
      align-self: center;
      margin-right: 20px;
      &:first-child {
        margin-left: auto;
      }
    }
  }

  .table {
    &>thead>tr>td,
    &>tbody>tr>td {
      color: #34384B ;
      font-size: 16px;
      text-align: center;
    }
    &>thead {
      height: 60px;
    }
    &>tbody {
      overflow: auto;
      height:220px;
    }
  }
}
