<div class="data-table">
  <div class="data-table-header">
    <span>Program Statistics</span>
  </div>
  <table class="table">
    <thead>
      <tr>
        <td>Program</td>
        <td>Year Created</td>
        <td>#Hired</td>
        <td>#Onboard</td>
        <td>Retention%</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of programStatistic">
        <td class="program-name-field">
          <span *ngFor="let item of data.program">{{ item }}</span>
        </td>
        <td>{{ data.yearCreated }}</td>
        <td>{{ data.hired }}</td>
        <td>{{ data.onboard }}</td>
        <td>{{ data.retention }}</td>
      </tr>
    </tbody>
  </table>
  <div class="data-table-footer">
    <app-primary-button class="data-table-btn" (click)="showAboutBadp()" [textBtn]="'About BADP'"></app-primary-button>
    <app-primary-button class="data-table-btn" (click)="showAboutSedp()" [textBtn]="'About SEDP'"></app-primary-button>
  </div>
</div>
