<div class="participant-container">
  <div class="participant-detail">
    <div class="participant-detail__cover-photo">
      <img src="http://i.pravatar.cc/600" alt="">
    </div>
    <div class="participant-detail__info">
      <div class="form-group my-form-group">
        <input type="text" class="form-control participant-detail__info__fullname" [disabled]="!editMode" id="email"
          value="John McKinney">
      </div>
      <div class="form-group my-form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" value="Abc@gmail.com" [disabled]="!editMode">
      </div>
      <div class="form-group my-form-group">
        <label for="class_year">Class Year</label>
        <input type="text" class="form-control" id="class_year" value="2019" [disabled]="!editMode">
      </div>
      <div class="form-group my-form-group">
        <label for="program">Program</label>
        <input type="text" class="form-control" id="program" value="BADP" [disabled]="!editMode">
      </div>
    </div>
  </div>
  <div class="member-rotations-history">
    <div class="member-rotations-history__heading">
      <h1>Member Rotations History</h1>
    </div>
    <div class="member-rotations-history__table">
      <div class="custom-table custom-table--default participant-table">
        <div class="custom-table__thead member-rotations-history__table-head">
          <div class="custom-table__col member-rotations-history__table-first-col">Year</div>
          <div class="custom-table__col">Rotation</div>
          <div class="custom-table__col">Manager</div>
          <div class="custom-table__col member-rotations-history__table-last-col text-right">
            <button class="btn-transperant" (click)="toggleAllRotationHistoryRow()">
              <img src="/assets/img/expand-all-icon.svg" [ngClass]="[
                        isShowAllNotes ? 'member-rotations-history__expanding' : 'member-rotations-history__collapsing'
                      ]" />
            </button>
          </div>
        </div>
        <perfect-scrollbar style="max-height: 400px;">
          <div class="custom-table__tbody member-rotations-history__table-body">
            <ng-container *ngFor="let history of rotationsHistory">
              <div class="custom-table__row custom-table__row--center member-rotations-history__table-row">
                <div class="member-rotations-history__table-first-col custom-table__col">
                  <span *ngIf="!editMode">{{ history.year }}</span>
                  <app-dropdown [variant]="'transparent, dark'" *ngIf="editMode" [options]="yearOptions"
                    [value]="getSelected(history.id)('year')"
                    (onValueChange)="onChangeSelect(history.id)('year')($event)"></app-dropdown>
                </div>
                <div class="custom-table__col">
                  <span *ngIf="!editMode" [ngStyle]="stylesRotationStatus[history.rotation_status]">
                    {{ history.rotation }}
                  </span>
                  <app-dropdown [variant]="'transparent, dark'" *ngIf="editMode" [options]="roationOptions"
                    [value]="getSelected(history.id)('rotation')"
                    (onValueChange)="onChangeSelect(history.id)('rotation')($event)"></app-dropdown>
                </div>
                <div class="custom-table__col">{{ history.manager }}</div>
                <div class="custom-table__col member-rotations-history__table-last-col text-right">
                  <button class="btn-transperant" (click)="toggleRotationHistoryRow(history.id)">
                    <span [ngClass]="[
                            'caret', 'caret--dark',
                            isShowNoteById(history.id) ? 'caret--up' : 'caret--down'
                          ]"></span>
                  </button>
                </div>
              </div>
              <div class="custom-table__row history-note-row" *ngIf="isShowNoteById(history.id)">
                <div class="custom-table__col member-rotations-history__table-first-col"></div>
                <div class="custom-table__col custom-table__col--3 member-rotations-history__table-last-col pl-0">
                  <span *ngIf="!editMode">{{ history.note }}</span>
                  <div *ngIf="editMode" class="form-group">
                    <textarea class="form-control rounded-0 my-textarea" rows="5">{{ history.note }}</textarea>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </perfect-scrollbar>
      </div>
    </div>
    <div class="member-rotations-history__control">
      <div class="member-rotations-history__control__left">
        <div *ngIf="editMode" class="member-rotations-history__control__button">
          <button (click)="onClickSave()" class="btn btn-bittersweet" [disabled]="!editMode">SAVE</button>
          <button (click)="onClickCancel()" class="btn btn-bittersweet-reverse" [disabled]="!editMode">CANCEL</button>
        </div>
      </div>
      <div class="member-rotations-history__control__right">
        <div class="member-rotations-history__control__button">
          <button (click)="onClickEdit()" class="btn-transperant" [disabled]="editMode"><img
              src="/assets/img/icon-pencil-edit.svg" alt=""></button>
          <button class="btn-transperant" [disabled]="editMode"><img src="/assets/img/icon-add.svg" alt=""></button>
          <button (click)="onClickDelete()" class="btn-transperant" [disabled]="editMode"><img src="/assets/img/icon-trash.svg" alt=""></button>
        </div>
      </div>
    </div>
  </div>
</div>