.participant-container {
    display: flex;
    flex-direction: row;

    .participant-detail {
        width: 350px;
        flex-shrink: 0;
    }
}

.member-rotations-history {
    flex-basis: 100%;

    &__heading {
        padding: 54px 49px 20px 49px;
        h1 {
            font-size: 30px;
            color: #34384B;
        }
    }

    &__table {
        table {
            table-layout: fixed;
        }

        &-head {
            background-color: #EDEDED;
            border-color: #EDEDED;
            display: table;
            table-layout: fixed;
            width: 100%;
        }

        &-body  {
            display: block;
            height: 350px;
            overflow: auto;
        
            tr {
                display: table;
                table-layout: fixed;
                width: 100%;
            }
        }

        &-first-col {
            padding-left: 49px;
        }

        &-last-col {
            padding-right: 49px;
        }

        .history-note-row td {
            background-color: #F5F5F5;
            border-color: #F5F5F5;
        }
    }

    &__expanding {
        transition: all .3s;  
        transform: rotate(-180deg);
    }

    &__collapsing {
        transition: all .3s;
        transform: rotate(0deg);
    }

    &__control {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        padding: 15px 49px;
        height: 52px;

        &__button {
            button {
                &:disabled {
                    img {
                        filter: grayscale(1);
                    }
                }
            }
        }

        &__left {
            flex-basis: 50%;
            button {
                margin-right: 17px
            }
        }
        &__right {
            flex-basis: 50%;
            text-align: right;
            button {
                margin-left: 17px
            }
        }
    }
}
