<div>
  <div class="participant-container">
    <div class="participant-detail">
      <div class="participant-detail__cover-photo">
        <img src="http://i.pravatar.cc/300" alt="">
      </div>
      <div class="participant-detail__info">
        <div>
          <p class="participant-detail__info--fullname">John McKinney</p>
        </div>
        <div>
          <input type="text" value="JMcKinney@yahoo.com">
        </div>
        <div>
          <input type="text" value="2019">
        </div>
        <div>
          <input type="text" value="BADP">
        </div>
      </div>
    </div>
    <div class="member-rotations-history">
      <div class="member-rotations-history__heading">
        <h1>Member Rotations History</h1>
      </div>
      <div class="member-rotations-history__table">
        <table class="table">
          <thead class="member-rotations-history__table-head">
            <tr>
              <th scope="col" style="width: 22%">Year</th>
              <th scope="col">Rotation</th>
              <th scope="col">Manager</th>
              <th scope="col" class="text-right">
                <button class="btn-transperant" (click)="toggleAllRotationHistoryRow()">
                    <img src="/assets/img/expand-all-icon.svg" [ngClass]="[
                    isShowAllNotes ? 'member-rotations-history__expanding' : 'member-rotations-history__collapsing'
                  ]" />
                </button>
              </th>
            </tr>
          </thead>
          <tbody *ngFor="let history of rotationsHistory">
            <tr>
              <td>{{ history.year }}</td>
            <td><span [ngStyle]="stylesRotationStatus[history.rotation_status]" >{{ history.rotation }}</span></td>
              <td>{{ history.manager }}</td>
              <td class="text-right">
                <button class="btn-transperant" (click)="toggleRotationHistoryRow(history.id)">
                  <span [ngClass]="[
                    'caret', 'caret--dark',
                    isShowNoteById(history.id) ? 'caret--up' : 'caret--down'
                  ]"></span>
                </button>
              </td>
            </tr>
            <tr class="history-note-row" *ngIf="isShowNoteById(history.id)">
              <td></td>
              <td colspan="3">{{ history.note }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>