.back-to {
  align-items: center;
  display: flex;

  &__caret {
    align-items: center;
    background: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    height: 20px;
    width: 20px;
  }

  &__text {
    color: white;
    margin-left: 10px;
  }
}

.header {
  background: url('src/assets/img/bg-summary.png');
  background-size: cover;
  background-position: center;
  height: 160px;
  padding: 0.1px;

  &__back-to {
    margin-left: 47px;
    margin-top: 16px;
  }

  &__select {
    align-items: center;
    display: flex;
    margin-left: 88px;
    margin-top: 40px;
  }

  &__select-text {
    color: #fff;
    font-size: 36px;
    margin: 0;
  }

  &__select-option {
    margin-left: 33px;
    width: 120px;
  }

  ::ng-deep &__dropdown-name {
    font-size: 40px;
    padding: 0 !important;
  }
}

.custom-table {
  thead {
    background: #0000C1;
    color: #fff;

    th {
      border: none;
    }
  }
}

.action {
  display: flex;
  justify-content: flex-end;
  padding: 16px 88px;
}

.content {
  padding: 32px 88px 0 88px;

  &-content-admin {
    padding-top: 0;
  }
}

.participant-table {
  &__thead {
    display: table;
    table-layout: fixed;
    width: 100%;
  }

  &__tbody {
    display: block;
    height: 400px;
    overflow: auto;

    tr {
      display: table;
      table-layout: fixed;
      width: 100%;
    }
  }

  &__row {
    cursor: pointer;
    height: 80px;

    td {
      padding: 0 .75rem;
      vertical-align: middle;
    }
  }

  &__name {
    align-items: center;
    display: flex;
  }

  &__avatar {
    border-radius: 50%;
    height: 60px;
    margin-right: 38px;
    object-fit: cover;
    width: 60px;
  }
}


::ng-deep .participant-modal {
  .modal-dialog {
    max-width: 1024px !important;

    .modal-body {
      padding: 0;
    }
  }
}

::ng-deep .add-participant-modal {
  .modal-dialog {
    width: 1024px;

    .modal-body {
      padding: 0;
    }
  }
}

::ng-deep .participant-detail {
  flex-basis: 350px;
  flex-shrink: 0;
  &__cover-photo {
      height: 200px;
      overflow: hidden;
      img {
          width: 100%;
          height: auto;   
      }
  }

  &__detail {
      padding: 24px;
  }

  &__info {
      background-color: #0000C1;
      padding-bottom: 14px;
      padding-top: 22px;

      &__fullname {
          font-size: 40px;
          font-weight: 100;
      }

      .my-form-group {
          label {
              color: #9B9B9B;
          }
          input {
              color: white;
          }
      }
  }
}