.back-to {
  align-items: center;
  display: flex;
  position: relative;

  &__caret {
    align-items: center;
    background: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    height: 20px;
    margin-right: 10px;
    width: 20px;
  }

  &__text {
    color: white;
  }
}

.header {
  background: url('src/assets/img/bg-summary.png');
  background-size: cover;
  background-position: center;
  height: 160px;
  padding: 0.1px;

  &__back-to {
    margin-top: 16px;

    &__caret {
      left: 0;
      position: absolute;
      transform: translateX(calc(-100% - 10px));
    }
  }

  &__select {
    align-items: center;
    display: flex;
    margin-top: 40px;
  }

  &__select-text {
    color: #fff;
    font-size: 40px;
    margin: 0;
  }

  &__select-option {
    margin-left: 33px;
    width: 120px;
  }

  ::ng-deep &__dropdown-name {
    font-size: 40px;
    padding: 0 !important;
  }
}

.custom-table {
  thead {
    background: #0000C1;
    color: #fff;

    th {
      border: none;
    }
  }
}

.action {
  display: flex;
  justify-content: flex-end;
  padding: 16px 88px;
}

.content {
  padding-bottom: 50px;
  padding-top: 32px;

  &-content-admin {
    padding-top: 0;
  }
}

.custom-table {
  $block: &;

  &--primary {
    #{$block}__thead {
      background: #0000C1;
      color: #fff;
    }
  }

  &__thead {
    display: flex;
    padding: 20px 0;
  }

  &__row {
    border-bottom: 1px solid #E6E6E6;
    display: flex;
    overflow: hidden;
    width: 100%;

    &:hover {
      background: #f7f7f7;
    }

    &--center {
      align-items: center;
    }
  }

  &__col {
    flex-basis: 1px;
    flex-grow: 1;
  }
}

.participant-table {
  &__row {
    cursor: pointer;
    height: 80px;
  }

  &__name {
    align-items: center;
    display: flex;
  }

  &__avatar {
    border-radius: 50%;
    height: 60px;
    margin-right: 38px;
    object-fit: cover;
    width: 60px;
  }
}


::ng-deep .participant-modal {
  .modal-dialog {
    max-width: 1024px !important;

    .modal-body {
      padding: 0;
    }
  }
}

::ng-deep .add-participant-modal {
  .modal-dialog {
    max-width: 1024px !important;
    padding-bottom: 50px;

    .modal-body {
      padding: 0;
    }
  }
}

::ng-deep .participant-detail {
  display: block;
  width: 100%;

  &__cover-photo {
    height: 200px;
    overflow: hidden;

    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  &__detail {
    padding: 24px;
  }

  &__info {
    background-color: #0000C1;
    padding-bottom: 14px;
    padding-top: 22px;

    &__fullname {
      font-size: 40px;
      font-weight: 100;
    }

    &__select-caret {
      margin-right: 8px;
    }
  }
}