<div class="badp-participant">
    <div class="header">
        <div class="container">
            <div class="header__back-to back-to">
                <div class="back-to__caret header__back-to__caret">
                    <div class="caret caret--left"></div>
                </div>
                <div class="back-to__text">Back to Dashboard</div>
            </div>

            <div class="header__select">
                <h1 class="header__select-text">BADP Participants Class of</h1>
                <div class="header__select-option">
                    <app-dropdown
                        [variant]="'transparent, light'"
                        [dropdownClassName]="'header__dropdown-name'"
                        [options]="listOptions"
                        [value]="optionSelected"
                        (onValueChange)="handleSelectOption($event)"
                    ></app-dropdown>
                </div>
            </div>
        </div>
    </div>

    <div class="action" *ngIf="isAdmin">
        <button class="btn btn-bittersweet btn-not-round" (click)="showModalAddParticipant()">New Participant</button>
    </div>

    <div class="content" [ngClass]="{ 'content-admin': isAdmin }">
        <div class="container">
            <div class="custom-table custom-table--primary participant-table">
                <div class="custom-table__thead">
                    <div class="custom-table__col text-center">Name</div>
                    <div class="custom-table__col">Email</div>
                    <div class="custom-table__col">Current Rotation</div>
                    <div class="custom-table__col">Manager</div>
                </div>
                <perfect-scrollbar style="max-height: 400px;" (psYReachStart)="onScrollEvent($event)">
                    <div class="custom-table__tbody">
                        <div
                            class="custom-table__row custom-table__row--center participant-table__row"
                            *ngFor="let participant of datas"
                            (click)="showParticipantModal(participant)"
                        >
                            <div class="custom-table__col participant-table__name">
                                <img class="participant-table__avatar" src="{{participant.avatar}}" />
                                <span>{{participant.name}}</span>
                            </div>
                            <div class="custom-table__col">{{participant.email}}</div>
                            <div class="custom-table__col">{{participant.rotation}}</div>
                            <div class="custom-table__col">{{participant.manager}}</div>
                        </div>
                    </div>
                </perfect-scrollbar>
            </div>
        </div>
    </div>
</div>

<app-modal
    [modalClassName]="'participant-modal'"
    [isOpen]="isOpenParticipantModal"
    (afterCloseModal)="afterCloseParticipantModal()"
>
    <app-participant-detail
        [participant]="participant"
        (showDeleteParticipantModal)="showDeleteParticipantModal()"
        (showSaveModal)="showSaveParticipantModal()"
    ></app-participant-detail>
</app-modal>

<app-modal
    [modalClassName]="'add-participant-modal'"
    [isOpen]="isOpenModalAddParticipant"
    (afterCloseModal)="closeModalAddParticipant()"
>
    <app-add-participant (forceClose)="forceCloseParticipantModal()"></app-add-participant>
</app-modal>

<app-modal
    [modalClassName]="'delete-participant-modal'"
    [isOpen]="isOpenDeleteParticipantModal"
    (afterCloseModal)="closeDeleteParticipantModal()"
>
    <div class="common-modal">
        <p class="title">Delete Participant</p>
        <p class="description">Are you sure you want to delete this participant?</p>
        <div class="control">
            <button (click)="closeDeleteParticipantModal()" class="btn btn-bittersweet-reverse">Cancel</button>
            <button class="btn btn-bittersweet">Delete</button>
        </div>
    </div>
</app-modal>

<app-modal
    [modalClassName]="'save-participant-modal'"
    [isOpen]="isOpenSaveParticipantModal"
    (afterCloseModal)="closeSaveParticipantModal()"
>
    <div class="common-modal">
        <p class="title">Save Participant</p>
        <p class="description">Your edit to this participant information have been updated succesfully.</p>
        <div class="control">
            <button (click)="closeSaveParticipantModal()" class="btn btn-bittersweet-reverse">Close</button>
        </div>
    </div>
</app-modal>