<div class="dashboard">
  <div class="row group-add-btn">
      <app-primary-button class="add-btn" [textBtn]="'New Participant'"></app-primary-button>
      <app-primary-button class="add-btn" [textBtn]="'New Rotation'"></app-primary-button>
  </div>
  <div class="row">
    <div class="col-lg-6 badp-table">
        <app-badp-sedp [specificData]="badpData" (activateJourney)="badpJourney($event)" (activateParticipants)="badpParticipants($event)"></app-badp-sedp>
      </div>
      <div class="col-lg-6 sedp-table">
        <app-badp-sedp [specificData]="sedpData"  (activateJourney)="sedpJourney($event)" (activateParticipants)="sedpParticipants($event)"></app-badp-sedp>
      </div>
    </div>
  <div class="row">
    <div class="col-lg-12">
        <app-statistic-program-table [programStatistic]="programStatistic" (showBADP)="showAboutBADP()" (showSEDP)="showAboutSEDP()"></app-statistic-program-table>
    </div>
  </div>
  <div>
    <app-about-dashboard *ngIf="isShowAboutBADP" [aboutData]="aboutBADP" (hideAboutModal)="backToStatistic()"></app-about-dashboard>
    <app-about-dashboard *ngIf="isShowAboutSEDP" [aboutData]="aboutSEDP" (hideAboutModal)="backToStatistic()"></app-about-dashboard>
  </div>
</div>
